

.games-section{
    text-align: center;
    padding: 32px;/* 
    background-color: #d9f7e9; */
}

.games-section h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding: 8px;
}

.games-section .players{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}